body {
  margin: 0;
  padding: 0;
}
.App {
  font-size: 100px;
  height: 100vh;
  width: 100%;
  background-color: #2b3035;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #6741d9;
  width: 30% !important;
  height: 60%;
  border-radius: 20px;
}
